{% extends 'base.html' %}

{% block title %}About Us - Luna_latte{% endblock %}

{% block content %}
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2></h2>
                <p>Learn More <span>About Us</span></p>
            </div>

            <div class="row gy-4">
                <div class="col-lg-7 position-relative about-img" style="background-image: url(https://images.pexels.com/photos/3679601/pexels-photo-3679601.jpeg?auto=compress&cs=tinysrgb&w=600);" data-aos="fade-up" data-aos-delay="150">
                    <div class="call-us position-absolute">
                        <h4>Book a Table</h4>
                        <p>+27 8179 75577</p>
                    </div>
                </div>
                <div class="col-lg-5 d-flex align-items-end" data-aos="fade-up" data-aos-delay="300">
                    <div class="content ps-0 ps-lg-5">
                        <p class="fst-italic">
                            Welcome to Luna_Latte, where the aroma of freshly brewed coffee meets the warmth of community. We are passionate about delivering a unique and delightful coffee experience to our customers.
                        </p>
                        <ul>
                            <li><i class="bi bi-check2-all"></i> Expertly crafted coffee blends for a taste like no other.</li>
                            <li><i class="bi bi-check2-all"></i> Immerse yourself in a cozy atmosphere that feels like home.</li>
                            <li><i class="bi bi-check2-all"></i> Our mission is to provide exceptional service and quality products that elevate your coffee moments. Discover the perfect harmony of flavors at Luna_Latte.</li>
                        </ul>
                        <p>
                            At Luna_Latte, we believe in the art of coffee-making and the joy it brings to people. Our dedication to quality and passion for the perfect cup are evident in every sip. Join us on a journey where every coffee break becomes a moment to savor.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End About Section -->
{% endblock %}
